/* background*/
body {
  background-image: url("media/background-clouds.png");
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

/* App */
.weatherApp {
  background-color: #a4d4eb;
  margin: 20px auto;
  box-shadow: 0px 0px 17px 9px rgba(3, 89, 129, 0.3);
  opacity: 90%;
  border-radius: 5px;
  max-width: 600px;
}

/* circle */
.circle {
  background-color: rgb(252, 213, 39);
  position: absolute;
  top: -15px;
  left: -20px;
  width: 140px;
  height: 140px;
  z-index: -1;
  border-radius: 50%;
}
/* left side */
.currentTime {
  text-align: center;
  margin: 4px 0 4px 0;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 70px;
  font-weight: 900;
  color: rgb(250, 128, 114);
  /* text-shadow: -3px 1px rgba(255, 203, 0, 1); */
  text-align: center;
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
.dayIcon {
  text-align: center;
  color: #fdd000;
  font-size: 83px;
  margin: 10px 0 0 10px;
}
.nightIcon {
  text-align: center;
  color: #454383;
  font-size: 83px;
  margin: 10px 0 0 10px;
}
/* display Temperature */
.todayTemperature {
  padding: 0;
  line-height: 95px;
  font-size: 60px;
  font-weight: 900;
  display: inline-block;
}

.celsius {
  font-weight: bolder;
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}
.notactive {
  color: rgba(0, 0, 0, 0.288);
}

/* display weather conditions */
p {
  font-size: 25px;
  text-align: center;
}
.listWeatherCondition {
  text-align: center;
  margin: 0;
  padding: 0;
}
.decorationr {
  color: white;
  padding: 0 0 0 10px;
}
.decorationl {
  color: white;
  padding: 0 10px 0 0;
}
.feels {
  margin: 8px;
  padding: 0 10px 0 10px;
  border: 3px solid #8c8f8f00;
  box-shadow: 0px 0px 5px 1px #ffffff4f;
  min-width: 50px;
  max-width: 240px;
  border-radius: 8px;
}
.humid {
  margin: 8px;
  padding: 0 10px 0 10px;
  border: 3px solid #8c8f8f00;
  box-shadow: 0px 0px 5px 1px #ffffff4f;
  min-width: 50px;
  max-width: 240px;
  border-radius: 8px;
}
.wind {
  margin: 8px;
  padding: 0 10px 0 10px;
  border: 3px solid #8c8f8f00;
  box-shadow: 0px 0px 5px 1px #ffffff4f;
  min-width: 50px;
  max-width: 240px;
  border-radius: 8px;
}

.tips {
  margin: 8px auto;
  border: 3px solid #8c8f8f00;
  box-shadow: 0px 0px 5px 1px #ffffff4f;
  min-height: 100px;
}

/* info box */
/* tip box */
/* right side */
/* search */

.searchForm {
  text-align: center;
  margin: 0 auto;
}

.searchInput {
  font-family: "Caveat", cursive;
  text-align: center;
  color: rgb(250, 128, 114);
  font-size: 18px;
  font-weight: 600;
  background-color: #ccedfc;
  margin: 10px auto;
  border: 3px solid #005270d8;
  max-width: 100px;
  border-radius: 2px;
}

.searchInput::placeholder {
  color: #00527067;
  font-family: "Josefin Sans", sans-serif;
}
.searchInput:focus {
  outline: #ffffff;
  outline-style: double;
}

.citySearchButton {
  font-family: "Josefin Sans", sans-serif;
  padding: 4px 10px;
  color: #00293c;
  background-color: #ade4fd;

  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(61, 121, 148, 0.315);
}

.currentSearchButton,
.moonButton {
  font-family: "Josefin Sans", sans-serif;
  padding: 4px 10px;
  color: #00293c;
  background-color: #ade4fd;

  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(61, 121, 148, 0.315);
}

.search {
  display: inline-block;
}

/* forecast */
ul {
  list-style: none;
  line-height: 36px;
}
/* footer */
footer {
  text-align: center;
  font-size: 14px;
  color: rgb(255, 213, 0);
}
.footerLink {
  color: rgb(255, 170, 0);
}
