/* background*/
body {
  background-image: url("C:/Users/nagen/Desktop/Coding/Pro/Weather-App/media/background-clouds.png");
  background-size: cover;
}
/* App */
.weatherApp {
  background-color: #a4d4eb;
  margin: 20px auto;
  box-shadow: 0px 0px 17px 9px rgba(3, 89, 129, 0.3);
  opacity: 90%;
  border-radius: 5px;
}

/* left side */
.currentTime{
  text-align: center;
  margin: 4px 0 4px 0;
}
/* circle */
/* info box */
/* tip box */
/* right side */
/* search */
/* forecast */
/* footer */
h1 {
  color: salmon;
}
